.single-poduct-info {
  .single-product-color-pick {
    width: 200px;
}
.single-poroduct-prize {
  span {
      font-weight: 600;
      color: #f62e5e;
      margin-right: 5px;
  }
  strike {
    font-weight: 600;
    color: #f62e5e;
    margin-right: 5px;
  } 
}
}

