.app-button {
	border-radius: 30px;
	font-size: 14px;
	border: none;
}
.app-button-md {
	width: 110px;
	padding: 6px 0px;
}
.app-button-lg {
	width: 180px;
	padding: 12px 0px;    
}
.white-button {
	background-color: white ;
	color: #f62e5e;
	border: 1px #f62e5e solid;
}
.pink-button {
	background-color: #f62e5e;
	color: white;
	border: 1px #f62e5e solid;
}