$font_family_sans: 'Montserrat', sans-serif, bold;
$white-color: #ffffff;
$pink-color: #f62f5e;
$light-pink: #ffa6bb;
$dark-pink: #b4002a;
$background-color: #f7f7f7;
$icon-background: #e7e7e7;
$light-grey: #b4b4b4;
$grey: rgb(141, 141, 141);
$meduim-grey: #6c6c6c;
$black: #2e2e2e

