@import '../../../../styles/variables.scss';

.navbar-top {
  background-color: white;
  color:black
}
.navbar-bottom {
  background-color: $black;
  color: white;
}
.nav-bottom-items {
  position: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: 20% 52% 20% 8%;
  .nav-bar-logo {
    font-weight: 700;
    font-size: 25px;
    color: #f62e5e
  }
  .nav-bottom-link {
    margin: 0px 15px;
    font-weight: 600;
    font-size: 19px;
  }
}
.navbar {
  width: 100%;
  position: relative;
  padding: 5px 10px;
  .search-bar {
    position: relative;
  }
  .search-icon {
    position: absolute;
    top: 20%;
    left: 5%;
  }
  .nav-bar-logo {
    color: $pink-color;
    font-size: 30px;
  }
  input {
    border-radius: 30px;
    background-color: $light-grey;
    color: white;
    border: none;
    text-indent: 27px;
    width: 300px;
  }
  ::placeholder {
    color: white;
    font-size: 16px;
  }
  ul {
    li {
      margin-left: 15px;
    }
  }
  .nav-links {
    margin: 0 auto;
    cursor: pointer;
  }
}


